<body>
    <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; max-width: 600px; width: 100%; background-color: #ffffff; margin-left: auto; margin-right: auto;" align="center">
        <tr>
            <td style="background-color: #333333; padding: 5px; width: 32px;" valign="middle">
                <img src="https://www.lurningo.com/images/logo2.png" width="150" height="36" style="margin-top: 10px;">
            </td>
        </tr>
        <tr>
            <td style="color: #333333; font-family: Arial; font-size: 14px; padding: 20px;">
                Hello <strong>$User</strong>,
                <br />
                <br /> Your login details for Lurningo CRM are given below. Please use the User name and Password to access Lurningo CRM.
               
                <br />
                <br />
                <div style="text-align:center; padding: 10px; border:1px dashed blue; background-color: ffff99;">
                  Username:-  <strong>$username</strong><br>
                  Password:- <strong>$password</strong><br>
                </div>
                <a href="http://crm.lurningo.com" style="font-weight: bold; color: blue">Click Here</a> for Lurningo CRM site.
                <br />
                <br /> If you have any queries call us on <strong>08039658008</strong> or write to us at <a href="mailto:help@lurningo.com">help@lurningo.com</a>.
            </td>
        </tr>
        <tr>
            <td style="background-color: #e0e0e0; padding: 10px; color: #808080; font-family: Arial; font-size: 11px;" align="center">
                This email has been sent to you by Lurningo.
                <br />
                <br /> B-903, Western Edge II, Borivali East, Mumbai-400066.
            </td>
        </tr>
    </table>
</body>
